<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678715415011-uj2avo9sn15ld0bqeonunc1lt2rn18l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678715415011-uj2avo9sn15ld0bqeonunc1lt2rn18l0</string>
	<key>API_KEY</key>
	<string>AIzaSyB_cd3K8DkUjlXS8pKgGL7y7FmzFCXpE2E</string>
	<key>GCM_SENDER_ID</key>
	<string>678715415011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecotrakDriver.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecotrak-65cb0</string>
	<key>STORAGE_BUCKET</key>
	<string>ecotrak-65cb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678715415011:ios:0abf674315c62d0b50e8d6</string>
</dict>
</plist>